#Contasec{
    background-image: url(../images/empresario-de-baixo-angulo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.Formulario{
    background-color: #fff;
    height: 650px;
    width: 500px;
    color: #000;
    text-align: center;

}

.Formulariotitulo h3{
    margin: 0;
    font-size: 35px;
    padding-top: 70px;
    font-family: inter;
}

.Formulario p{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login label{
    padding-bottom: 10px;
}

.login input{
    width: 340px;
    height: 20px;
    border-radius: 5px;
    border: 0;
    background-color: #f3f6ff;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 30px;
}

.btncadastro{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ff9e1b;
    color: #ff9e1b;
    font-family: inter;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.btncadastro:hover{
    transform: scale(1.07);
    background-color: #ff9e1b;
    color: #fff;
}

.cadastro p{
    font-size: 17px;
}

.cadastro a{
    color: #ff9e1b;

}
