section{
    background-color: #BFBFBF;
    height: 688px;
}

.slogan{
    width: 665px;
    font-size: 35px;
    padding-left: 40px;
    padding-top: 100px;
    color: #12111f;
    font-family: inter;
}

.slogan h1{
    margin: 0;
}

.btnsec{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    margin-top: 25px;
    background-color: #ff9e1b;
    border: none;
    color: #fff;
    font-family: inter;
    font-size: 14px;
    cursor: pointer;
    transition: .3s;
}

.btnsec:hover{
    transform: scale(1.07);
    background-color: #fff;
    color: #ff9e1b;
}

.mulher{
    position: absolute;
    right: 70px;
    top: 150px;
    width: 40%;
}

.borda{
    position: absolute;
    border: 3px solid #ff9e1b;
    height: 566px;
    border-radius: 17px;
    width: 404px;
    right: 200px;
    top: 130px;
}

.icones{
    display: flex;
    justify-content: space-evenly;
}

.icones img{
    width: 9%;
    padding-top: 500px;
}